build/
cmake-build-*/

.idea/
*.iml

CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
CTestTestfile.cmake

*.exe
*.out
*.app
*.dll
*.so
*.dylib

*.log

*.tmp
*.swp
*.swo

Thumbs.db
Desktop.ini

.DS_Store
.AppleDouble
.LSOverride

*.orig

*.bak
*.backup

*~
